:root {
  --bg: #4aaddf;
  --prod-bg: #c7e3f1;
  --dark: #191919;
  --dark-sea: #3e4d57;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #9562ee;
  --light: #f6f6f7;
  --sea: #a9b6bc;
}
