.profile {
  flex-grow: 1;
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 560px;
  width: 100%;
}

.group {
  width: 100%;
  background: var(--prod-bg);
  border-radius: 8px;
  color: var(--dark-sea);
  padding: 12px 24px;
}

.group input {
  width: 100%;
}
